body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #434be2;
}

body {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 960px;
  min-height: 100vh;
  padding: 0 1em;
  box-shadow: 0 10px 20px #00000011, 0 20px 40px #00000011;
}

blockquote {
  border: none;
  border-left: 0.3em solid #00000066;
  padding-left: 0.7em;
  line-height: 2;
  margin: 1em 2em;
}
